{% extends "base.html" %}
{% block content %}
    <!-- SPLASH HEADER -->
    <div class="splash-header">
        <div class="splash-header-content">
            <div class="main-splash-header">
                <div class="position-relative slide-up">
                    <h1>We Are All About Clean</h1> 
                    <h3>We want to provide affordable technology that can help individuals and our society be clean.</h3>
                </div>
            </div>
        </div> 
    </div>

    <!-- ABOUT US -->
    <div class="content-container join">
        <div class="container">
            <div class="row">
                <div class="col-md-6 slide-left about">
                    <div class="about-us">
                        <h1>Jake Rose</h1> 
                        <h3>Chief Design Officer</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/jake.jpg') }}"> 
                    <p> Jake, a junior at the North Carolina School of Science and Mathematics, is the Chief Design Officer in Soji, developing the Remora for production.  
                        He has extensive experience with 3-D computer-aided design and manufacturing software such as Fusion 360 and Meshmixer, 
                        and with manufacturing techniques such as 3-D printing and CNC subtractive manufacturing.  
                        Jake has also competed in multiple STEM competitions such as Seaperch, an underwater robotics competition.  
                        Out of four years competing, he has qualified for the international competition three years in a row.  
                        The last two years he has designed and 3-D printed his robots from scratch.  
                        Jake also runs a separate online business selling 3-D printed customizable maps.  </p>
                </div>
                <div class="col-md-6 slide-right about">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>Chief Technology Officer</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/evanpic.jpg') }}"> 
                    <p> Evan, a senior at the North Carolina School of Science and Mathematics, 
                        is an aspiring computer programmer who has created various websites and software programs in 
                        Python, Javascript, and markup languages. 
                        Evan is also an aspiring entrepreneur, recently founding SMath Tutors, 
                        a non-profit tutoring organization, working as an intern at KickIt, 
                        a small social media app, and reaching the semifinals in the 2020 Quarter Zero competition.
                        He decided to join Soji because personal cleanliness and sanitation has always been one of his 
                        main concerns in dorm life, and Remora is a product that will help him stay clean in his future 
                        college years. In his free time, Evan enjoys coding automated bots and neural networks and 
                        playing ping pong with friends.
                    </p>
                </div>
                <div class="col-md-6 slide-left about more-top-padding">
                    <div class="about-us">
                        <h1>Elijah Sellers</h1> 
                        <h3>Chief Operations Officer</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/elijah.jpg') }}"> 
                    <p> Elijah, a junior at the North Carolina School of Science and Mathematics, 
                        has held multiple leadership positions ranging from North Carolina's Youth of the Year to Chief Commissioner 
                        of the local youth engagement program in Edgecombe county. 
                        His interest in a clean and sanitary world was sparked by his experience living in a low-income area. 
                        At a young age, he recognized the importance of his story and voice, and was determined to take initiative. 
                        Elijah plans to continue the expansion of Soji and bring innovative solutions to further develop the company.</p>
                </div>
                <div class="col-md-6 slide-right about more-top-padding">
                    <div class="about-us">
                        <h1>Evan Zhang</h1> 
                        <h3>Chief Marketing Officer</h3>
                    </div>
                    <img src="{{ url_for('static', filename='img/gracie.jpg') }}"> 
                    <p> Gracie, a junior at the North Carolina School of Science and Mathematics, 
                        has held leadership positions in clubs such as HOSA and created her own tutoring business within her local community. 
                        In addition, she has competed extensively in DECA, specifically in business administration and management 
                        as well as buying and merchandising. 
                        She plans to apply her specific knowledge on buying and merchandising physical products to Soji, 
                        where she hopes she can bring the company and product to the next level.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
